.lg0 {
  background-color: white;
  width: 3ch;
  height: 1.5em;
  z-index: 0;
  display: inline;
  position: absolute;
}

.lg {
  position: absolute;
  width: 3ch;
  height: 1.5em;
  display: inline;
}

.lgParent {
  width: 3ch;
  height: 1.5em;
  z-index: 0;
}
