.lg0 {
  background-color: white;
  width: 2ch;
  height: 1.5em;
  z-index: 0;
  position: absolute;
}

.lg {
  display: inline;
  position: absolute;
  width: 2ch;
}

.lgParent {
  display: inline-block;
  width:2ch;
}
